#article-container {
    width: 60%;
    float: left;
    margin-top: 50px;
    margin-left: 20px; 
}

 dd, dt {
    margin-bottom: 10px;
 }

 .panel {
     width: 65%;
     border: 0;
 }

 .list-group-item {
     cursor: pointer
 }

 #related-article-container { 
    float: right;
    margin-top: 50px;
    width: 35%;
    margin-right: 50px;
}

.mb20 { 
    margin-bottom: 20px;
}
